
<div id = "page-container">
<div class="footer-padding"></div>
<div id="content-wrap">   
</div>
  <div class="footer">
    <p> Daily Blogging</p>
  </div>
</div>
</body>
</html>

<!-- <body>
  <div class="container">
<div id="page-container">
  <div id="content-wrap">
    <!-- all other page content -->
  <!-- </div>
  <footer class="footer">"Daily Blogging"</footer>
</div>
</body>

</html> -->


<!-- <body>
  <div class="footer-padding"></div>
  <div id="page-container">
    <div id="content-wrap">
      
    </div>
    <div class="footer p">
      <p>Blog Post 2021</p>
  </div>
  </div>
 </body>
 
 </html> -->

