.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    color: #EEEEEE;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 13px;
    letter-spacing: 5px;
    background-color: #F4DFD0;
}
.navbar-nav  li a:hover {
    color: #00C1D4 !important;
}

.footer-padding {
	padding-bottom: 80px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #CDBBA7;
}
#page-container {
    position: relative;
    min-height: 20vh;
    height: 2.5rem;
  }
  
  /* #content-wrap {
    padding-bottom: 2.5rem;    
  } */

  /* #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */

.footer p {
	margin-top: 23px;
	font-size: 15px;
  color: #fff;
  bottom: 0;

}

.button{
    
    margin-top: 30px;
}

#heading{
    font-size: 20px;
    color: #753422;
}
body{
    background-color: #FDEFEF;
}
